body{
   background-color: #f8f8f8;
}
header{
   background-color: #FFF;
   display: flex;
   justify-content: space-around;
   flex-wrap: wrap;
   padding: 10px;
   align-items: center;
   box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.08);
   margin-bottom:25px;
}
.container{
   display: grid;
   grid-template-columns: repeat(12, 1fr);
   margin:10px;
}
.logo{
   text-decoration: none;
   color:var(--cor-text-dark);
}
.search_header{
   display: flex;
   gap:10px;
}
.search_header > input{
   width: 250px;
   height: 17px;
   padding:14px;
}
.ico_search_header{
   width: 48px;
   height: 48px;
   background: #949494;
   border:none;
   border-radius: 4px;
}
.ico_search_header > img{
   width: 100%;
   filter: invert(1);
  
  
}
.list_header{
   display: flex;
   gap: 10px;
}

.svg_header{
   width: 25px;
   padding:10px;
   background-color: darkgray;
   border-radius:7px;
}

.info_profile{
   grid-column-start: 2;
   background: url(/assets/imgs/background-profile.jpg) no-repeat; 
   background-size: 100% 120px;
   border-radius: 4px;
   width: 330px;
   height: 775px;
   text-align: center;
   padding: 7px;
   border: 1.5px solid var(--cor-border);
}
.profile{
   background: url(/assets/imgs/profileImg.webp) no-repeat;
   background-size: cover;
   display: block;
   margin:80px auto;
   margin-bottom:20px;
   border:var(--cor-border) solid 3px;
   border-radius:4px;
   width: 105px;
   height:105px;
}
.name_profile{
   font-family: 'Poppins', sans-serif;
   font-weight: bold;
}
.cartegory{
   margin-top:5px;
   font-size:0.7em;
   margin-bottom:10px;
   font-family: 'Roboto', sans-serif;
   color:var(--cor-text-dark);
}
.description_profile{
   padding: 7px 40px 7px 40px;
   font-size:0.7em;
   font-family: 'Roboto', sans-serif;
   color: var(--cor-text-clear);
   margin-bottom:40px;
}
.reached_population{
   display: flex;
   font-family: 'Poppins', sans-serif;
   gap:150px;
   justify-content: center;
   border-bottom:1px solid var(--cor-border);
   padding:0px 0px 50px;
   margin-bottom: 20px;
}
.follow, .posts{
   color: var(--cor-text-dark);
}
.follow > p, .posts > p{
   font-size:0.8em;
   color: var(--cor-text-clear);
}
.nav_profile{
   text-align: start;

}
.svg_info_profile{
   width: 30px;
   height: 45px;
 
}
.select_content > p{
   font-size: 0.8em;
   font-weight: bold;
}
.select_content{
   gap: 16px;
   height: 48px;
   display: flex;
   padding: 0px 24px;
   border-radius: 4px;
   align-items: center;
   margin: 5px;
}
.select_content:hover{
   cursor: pointer;
}
.item_active{
   background-color: var(--cor-border);
}
.section_feed{
   grid-column-start: 4;
}
.array_cards_story{
   display: flex;
   max-width: 800px;
   overflow-x: auto;
}
.cards_story{
   width: 170px;
   height: 250px;
   border:1px solid var(--cor-border);
   border-radius:4px;
}
.new_story{
   background-color: #FFF;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   gap: 10px;  
}
.new_story > p{
   font-size: 0.8em;
}

.svg_story{
   width: 50px;
   filter: invert(49%) sepia(99%) saturate(70%) brightness(104%) contrast(100%);
}
.svg_story:hover{
   cursor: pointer;
}