*{
   margin:0;
   padding:0;
   list-style: none;
   font-size:1.1rem;
   font-family: 'Roboto', sans-serif;
}
:root{
   --cor-text-dark: #2E2E2E;
   --cor-text-clear:#949494;
   --cor-border:#E0E0E0;
}